.fishTitle {
  display: grid;
  grid-template-columns: 10% 10%;
  align-items: center;
}

.fishTitle,
.fishTable {
  width: 95%;
  margin: 0 auto;
}

.tableHeadings {
  font-weight: bold;
}

.tableHeadings,
.eachFish {
  display: grid;
  grid-template-columns: 15% 15% 10% 10% 10% 10% 10% 5% 15%;
  grid-template-rows: 5em;
  border-top: 1px solid black;
  align-items: center;
  justify-items: center;
  text-align: center;
}

img {
  width: 85%;
}
